.brushscript {
    font-family: "Brush Script MT", cursive;
}

.copperplate {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

.border_right_black {
    border-right: 1px solid black;
}

.border_left_black {
    border-left: 1px solid black;
}

.border_bottom_grey {
    border-bottom: 1px solid grey;
}

.border_bottom_lightgrey {
    border-bottom: 1px solid lightgray;
}

.darkgreen {
    color: darkgreen;
}

.darkgreen-background {
    background-color: darkgreen;
}

.text-size-24px {
    font-size: 24px;
}

.text-size-16px {
    font-size: 16px;
}

.post_pic {
    max-height: 50px;
    max-width: 50px;
}
.timesnewroman{
    font-family: "Times New Roman";
}
.padding-left-10px{
    padding-left: 10px;
}
.padding-top-10px{
    padding-top: 10px;
}
.wall-post {
    min-height: 20px;
    min-width: 350px;
    max-width: 350px;
    padding: 20px;
    margin: 5px 10px 5px 10px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.blink {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to { visibility: hidden; }
}
@-webkit-keyframes blink {
    to { visibility: hidden; }
}