<style>

    .user-info {
        position: relative;
        overflow: auto;
        text-align: center;
        padding: 10px;
    }

    .user-info > img {
        position: relative;
        float: left;
        width: 50px;
    }

    .user-info > h2 {
        position: relative;
        float: left;
        margin-left: 5px;
        font-size: 16px;
        font-weight: bold;
    }
</style>
<div ng-controller="GroupPostsController" ng-show="groupOwner || groupJoined">
    <div class="row margin-5px">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <div class="well postadder center" ng-show="groupOwner">
                <div class="my-font darkgreen center-text center">Add Post</div>

                <div class="form-group">

                    <textarea class="form-control" id="sharebox_text" placeholder="Share Something..."
                              ng-model="new_post"></textarea>
                </div>
                <div class="form-group">
                    <div class="file-upload">
                        <label>
                            <span class="glyphicon glyphicon-file clickable form-control" aria-hidden="true"></span>

                            <input class="hidden" type="file" file-model="postFile" multiple/>
                        </label>
                        <label>{{fileStatus}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-disabled="!new_post" ng-click="addPost()">Add</button>
                </div>

            </div>
        </div>
        <div class="col-lg-1">

        </div>
    </div>
    <div ng-hide="loadingGroupPosts">
        <div class=" col-md-12  user-post  box-shadow-green padding-20 margin-5px" dir-paginate="post in data.posts|itemsPerPage:5">
            <div class="user-info">
                <img class="img-circle" ng-src="{{post.User.profilephoto_thumb}}"/>

                <h2 class="timesnewroman">
                    <a ng-href="#/profile/{{post.User.username}}">
                        {{post.User.firstname +' '+ post.User.lastname}}
                    </a>
                    <br/>
                    <span class="small">{{post.Post.modified}}</span>
                </h2>
                <a class="btn"
                   ng-click="deletePost(post.Post.id,$index)"
                   ng-show="groupOwner">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <a class="btn"
                   ng-click="setEditable(post.Post.id)"
                   ng-show="groupOwner && !isEditable(post.Post.id)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a class="btn"
                   ng-click="savePost(post.Post,$index)"
                   ng-show="groupOwner && isEditable(post.Post.id)">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </a>
            </div>
            <div class="content-space timesnewroman" ng-hide="isEditable(post.Post.id)">
                <a ng-show="post.Content.id" ng-href="{{post.Content.content}}">Download Attachment</a>
                <br/>
                <span class="lead font-size-16 padding-10">{{post.Post.post}}</span>

            </div>
            <div ng-show="isEditable(post.Post.id)" ng-controller="GroupEditPostController">
                <label>
                    Remove Attached Files ?
                    <input type="checkbox" ng-model="editPost.removeFile"/>
                </label>

                <div class="form-group" ng-show="!editPost.removeFile">
                    <div class="file-upload">
                        <label>
                            <span class="glyphicon glyphicon-file clickable form-control" aria-hidden="true"></span>

                            <input class="hidden" type="file" file-model="postFile" multiple/>
                        </label>
                        <label>{{fileStatus}}</label>
                    </div>
                </div>

                <textarea class="form-control" ng-model="post.Post.post"></textarea>

            </div>

        </div>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
    <div class="sk-spinner sk-spinner-wave" ng-show="loadingGroupPosts">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>

</div>