<style>
    .question {

    }

    .question h2 {
        position: relative;
        float: left;
    }

    .content-space {
        clear: left;
        font-weight: normal;
        font-size: 14px;
    }

    .capital-big {
        font-size: 26px;
        font-family: "Roboto";
    }

    .answer {
        border-top: 1px solid #d3d3d3;
        padding: 5px;
    }
</style>
<div ng-controller="GroupQuestionsController" ng-show="groupOwner || groupJoined">
    <div class="row">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-10">
            <div class="row margin-5px">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-10">
                    <div class="well postadder center" ng-show="groupJoined && !groupOwner">
                        <div class="my-font darkgreen center-text center">Ask Question</div>

                        <div class="form-group">
                            <label>
                                Question
                            </label>
                            <textarea class="form-control" id="sharebox_text" placeholder="Ask Something..."
                                      ng-model="new_question"></textarea>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-success" ng-click="addQuestion()">Ask</a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-1">

                </div>
            </div>
            <div ng-hide="loadingQuestions">
                <div class="panel padding-10 margin-5px   my-font box-shadow-green question"
                     dir-paginate="question in data.questions|itemsPerPage:5">
                    <p class="lead timesnewroman font-size-12 content-space"><span class="capital-big">Q:</span>
                        {{question.Question.question}}
                        <br/>
                        <span class="small my-font color-green">By:
                            <a ng-href="#/profile/{{question.User.username}}">
                                {{question.User.firstname+" "+question.User.lastname}}
                            </a>
                        </span>
                    </p>

                    <a ng-click="viewAnswers(question.Question.id)" ng-hide="viewAnswers[question.Question.id]">View
                        Answers</a>
                    <a ng-click="hideAnswers(question.Question.id)" ng-show="viewAnswers[question.Question.id]">Hide
                        Answers</a>
                    <span>{{question.Question.created}}</span>

                    <div ng-show="viewAnswers[question.Question.id]">
                        <div class="answer" ng-repeat="answer in answers[question.Question.id]">
                            {{answer.Answer.answer}}
                            <br/>
                        <span class="small my-font color-green">By:
                            <a ng-href="#/profile/{{answer.User.username}}">
                                {{answer.User.firstname+" "+answer.User.lastname}}
                            </a>
                        </span>
                        </div>
                        <div class="form-group" ng-show="groupJoined || groupOwner">

                            <textarea class="form-control" ng-model="new_answer"></textarea>
                            <a class="btn btn-success btn-sm " ng-click="addAnswer(question.Question.id,new_answer)">Answer</a>
                        </div>
                    </div>


                </div>
                <dir-pagination-controls>
            </div>
            <div class="sk-spinner sk-spinner-wave" ng-show="loadingQuestions">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
        </div>
        <div class="col-lg-1">
        </div>
    </div>


</div>