<div ng-controller="courseViewCtrl">
    <div class="btn-group btn-group-justified panel">
        <a class="btn btn-default" ng-repeat="view in views" ng-class="getActiveViewClass(view)"
           ng-click="setActiveView($index)">{{view}}</a>
    </div>
    <ng-include src="'views/classbox.html'"></ng-include>

    <div class="panel">
        <div class="well" ng-repeat="post in getCoursePosts()|filter:categoryFilterFn">
            <div>
                <img class="pull-left img-responsive post_pic img-responsive" ng-src="{{users[post.user_id].photo}}"/>
                <a class="copperplate pull-right" ng-click="setActiveView(post.post_type)">{{post.post_type}}</a>
            </div>
            <div class="padding-left-10px">
                <span class="text-center brushscript text-size-16px darkgreen">{{users[post.user_id].name}}</span>
                <br/>
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="lead timesnewroman">{{post.post}}</span>
            </div>

        </div>

    </div>
</div>