<style>
    .group-post {
        box-shadow: 10px 10px 5px #888888;
    }

    .group-info {
        position: relative;
        overflow: auto;
        text-align: center;
        padding: 10px;
    }

    .group-info > img {
        position: relative;
        float: left;
        width: 50px;
    }

    .group-info > h2 {
        position: relative;
        float: left;
        clear: right;
        margin-left: 5px;
        font-size: 16px;
        font-weight: bold;
    }

    .group-posts {
        padding: 30px;
        padding-right: 60px;
    }

    .content-space {
        clear: left;
        font-weight: normal;
        font-size: 14px;
    }

    .group-by {
        padding: 10px;
        font-size: 12px;
        clear: both;
        position: relative;
        float: left;
    }
</style>
<div class="row group-posts">
    <div class=" col-md-5 col-md-offset-1 panel group-post ">

        <div class="group-info">
            <img class="img-rounded" src="./Data/Thumbs/profile.jpg"/>

            <h2 class="timesnewroman">Web Engineering</h2>

            <div class="group-by">By: Usman Akram</div>
        </div>
        <div class="content-space timesnewroman">
            <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop
                actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to
                download some of their awesome, free photoshop actions!</p>

        </div>
    </div>

    <div class=" col-md-5 col-md-offset-1 panel group-post ">

        <div class="group-info">
            <img class="img-rounded" src="./Data/Thumbs/profile.jpg"/>

            <h2 class="timesnewroman">Web Engineering</h2>

            <div class="group-by">By: Usman Akram</div>
        </div>
        <div class="content-space timesnewroman">
            <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop
                actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to
                download some of their awesome, free photoshop actions!</p>

        </div>
    </div>

    <div class=" col-md-5 col-md-offset-1 panel group-post ">

        <div class="group-info">
            <img class="img-rounded" src="./Data/Thumbs/profile.jpg"/>

            <h2 class="timesnewroman">Web Engineering</h2>

            <div class="group-by">By: Usman Akram</div>
        </div>
        <div class="content-space timesnewroman">
            <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop
                actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to
                download some of their awesome, free photoshop actions!</p>

        </div>
    </div>

    <div class=" col-md-5 col-md-offset-1 panel group-post ">

        <div class="group-info">
            <img class="img-rounded" src="./Data/Thumbs/profile.jpg"/>

            <h2 class="timesnewroman">Web Engineering</h2>

            <div class="group-by">By: Usman Akram</div>
        </div>
        <div class="content-space timesnewroman">
            <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop
                actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to
                download some of their awesome, free photoshop actions!</p>

        </div>
    </div>

    <div class=" col-md-5 col-md-offset-1 panel group-post ">

        <div class="group-info">
            <img class="img-rounded" src="./Data/Thumbs/profile.jpg"/>

            <h2 class="timesnewroman">Web Engineering</h2>

            <div class="group-by">By: Usman Akram</div>
        </div>
        <div class="content-space timesnewroman">
            <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop
                actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to
                download some of their awesome, free photoshop actions!</p>

        </div>
    </div>

    <div class=" col-md-5 col-md-offset-1 panel group-post ">

        <div class="group-info">
            <img class="img-rounded" src="./Data/Thumbs/profile.jpg"/>

            <h2 class="timesnewroman">Web Engineering</h2>

            <div class="group-by">By: Usman Akram</div>
        </div>
        <div class="content-space timesnewroman">
            <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop
                actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to
                download some of their awesome, free photoshop actions!</p>

        </div>
    </div>

    <div class=" col-md-5 col-md-offset-1 panel group-post ">

        <div class="group-info">
            <img class="img-rounded" src="./Data/Thumbs/profile.jpg"/>

            <h2 class="timesnewroman">Web Engineering</h2>

            <div class="group-by">By: Usman Akram</div>
        </div>
        <div class="content-space timesnewroman">
            <p>Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop
                actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to
                download some of their awesome, free photoshop actions!</p>

        </div>
    </div>


</div>


</div>