<div class="cover-title">
    <h1>E-Learning Social Network - ESN</h1>
</div>
<div class="cover-content">
    <div class="row container-fluid">
        <div class="col-lg-5 cover-forms">
            <div class="login-form" ng-controller="loginCtrl">
                <h2 class="color-black">Login</h2>

                <form class="form-inline" role="form" name="loginForm" novalidate>
                    <input class="form-control" name="username" type="text" placeholder="Username" id="username"
                           ng-model="data.login.username" required>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password"
                           ng-model="data.login.password" required>

                    <div class="checkbox">
                        <label class="color-black">
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <a ng-disabled="loginForm.$invalid" ng-click="login()" class="btn btn-sm btn-primary">Sign in</a>

                </form>
                <div class="alert alert-warning" ng-show="data.login.error" role="alert">{{data.login.error}}</div>
            </div>
            <div class="register-form color-black" ng-controller="registrationCtrl">
                <h2>or Register</h2>

                <form class="form-horizontal" role="form" name="registrationForm" novalidate>
                    <div class="form-group">
                        <label for="first_name" class="col-sm-2 control-label">First Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="first_name" id="first_name"
                                   placeholder="First Name" ng-model="data.first_name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-sm-2 control-label">Last Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="last_name" id="last_name"
                                   placeholder="Last Name" ng-model="data.last_name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="_username" class="col-sm-2 control-label">Username</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="username" id="_username"
                                   placeholder="Username"
                                   ng-model="data.username" ng-blur="checkUserAvailability()" required>

                            <div class="alert alert-danger" ng-show="data.username_error" ng-show="data.username_error"
                                 role="alert">
                                {{data.username_error}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                   ng-model="data.email" ng-blur="checkEmailAvailability()" required>

                            <div class="alert alert-danger" ng-show="data.email_error" ng-show="data.email_error"
                                 role="alert">
                                {{data.email_error}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="_password" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" id="_password"
                                   placeholder="Password" ng-model="data.password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="_password2" class="col-sm-2 control-label">Re-enter Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="re_password" id="_password2"
                                   placeholder="Re-enter Password" ng-model="data.re_password" required>
                            <span class="label-warning pull-left" ng-show="data.password!=data.re_password;">Passwords do not match</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <a class="btn btn-primary"
                               ng-disabled="registrationForm.$invalid || data.password!=data.re_password "
                               ng-click="register()">Join</a>
                        </div>

                    </div>
                    <div class="alert alert-danger" ng-show="data.error" role="alert">{{data.error}}</div>
                </form>
                <div class="alert alert-success" ng-show="data.register_success" ng-show="data.register_success"
                     role="alert">
                    {{data.register_success}}
                </div>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-4 cover-desc myfont">

            <h2>Welcome to ESN.</h2>
            be a part of a growing educational network, we believe that education should available to everyone who has
            the quest for knowledge regardless of time and location, it is a platform for scholars to share knowledge
            without any restriction of time or place.
        </div>
    </div>
</div>
<div class="panel-footer container-fluid text-center">
    Site Developed by IMA Developers
</div>

