<form role="form">
    <div class="form-group" ng-show="selectedBox=='Text'">
        <textarea class="form-control" id="sharebox_text" placeholder="Share Something..."
                  ng-model="sharebox_text"></textarea>
    </div>

    <div class="form-group" ng-show="selectedBox=='File'">
        <label for="sharebox_file">File input</label>
        <input type="file" id="sharebox_file" onchange="angular.element(this).scope().addFile(this.value);">
    </div>
    <span class="btn-group">
        <a class="btn btn-default" ng-repeat="view in views" ng-click="selectBox($index)" ng-class="getActiveClass(view)">{{view}}</a>
    </span>
    <span>
        <a class="btn btn-success pull-right" ng-click="addPost()">Share</a>
    </span>

</form>